<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title th:text="${projectTitle}">Sarazenen &amp; Pera</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="/css/style.css" />
		<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script type="text/javascript" src="/js/lib/jquery.quicksearch.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.5/js/jquery.tablesorter.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.js"></script>
		<script type="text/javascript" src="/js/workSourceLoader.js"></script>
		<script type="text/javascript" src="/js/event-tree.js"></script>
		<script type="text/javascript" src="/js/format.js"></script>
	</head>
	<body>
		<div th:replace="header :: header"></div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<h3 class="main-title">Auffälligkeiten</h3>
				</div>
			</div>
			<!-- Einbinden des dynamic Trees (jetzt auch wirklich dynamic!) -->
			<div class="row">
				<div class="col-md-9">
					<div id="dynamicTree"></div>
				</div>
				<!-- Auflistung der Vorkommnisse des gewählten Begriffs in den Quellen - fixed position. Inhalte werden alle dynamisch eingebunden.-->
				<div class="col-md-3">
					<div id="viewOccurence">
						
					</div>
				</div>
			</div>
			<!-- /.row QuellenAnsicht-->
		</div>
		<div id="workView"></div>
		<div th:replace="footer :: footer"></div>
	</body>
</html>